default:
  image: python:3.12
  tags:
    # Allocate large shared (4xCPU 8GB)
    - ci.inria.fr
    - large
  before_script:
    - df -h .
    - free -h
    - lscpu
    - env
    - python --version
    - pip list

variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  PYPI_REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi


.test-minimal-common: &test-minimal-common
  script:
    - apt-get update
    - apt-get install -y build-essential libomp5
    - pip3 install -e .[dev]
    - pip3 install -r mlir_requirements.txt
    - pip3 install -r tvm_requirements.txt
    - make check-pyright
    - make test

test-minimal-py310:
  image: python:3.10
  stage: test
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  <<: *test-minimal-common

test-minimal-py311:
  image: python:3.11
  stage: test
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  <<: *test-minimal-common

test-minimal-py313:
  image: python:3.13
  stage: test
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  <<: *test-minimal-common

test-minimal-py314:
  image: python:3.14
  stage: test
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  <<: *test-minimal-common

test-xtc:
  stage: test
  rules:
    # Avoid duplicate pipeline when in a merge request
    # Runs only the merge_request_event pipeline
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_OPEN_MERGE_REQUESTS != null
      when: never
    # Do not run this step when building pages by pushing to *gitlab-pages
    - if: $CI_COMMIT_REF_NAME =~ /gitlab-pages$/
      when: never
    - when: on_success
  script:
    - echo "machine gitlab.inria.fr login gitlab-ci-token password $CI_JOB_TOKEN" >"$HOME"/.netrc
    - pip3 install -e .[dev]
    - apt-get update
    - apt-get install -y build-essential libomp5 binutils-aarch64-linux-gnu binutils-x86-64-linux-gnu
    - apt-get install -y libpfm4-dev
    - pip3 install -r mlir_requirements.txt
    - pip3 install -r tvm_requirements.txt
    - pip3 install -r jir_requirements.txt
    - pip list
    - COV=scripts/coverage/coverage_run.sh
    - $COV make check
    - coverage combine >/dev/null
    - coverage report
    - mkdir -p artifacts/coverage
    - coverage xml -o artifacts/coverage/coverage.xml
    - coverage report --format=markdown >artifacts/coverage/coverage.md
    - coverage html -d artifacts/coverage/html
    - env STRATEGIES=tile8dvr OPTS=3 scripts/explore/run-explore-one-shot.sh artifacts/explore/
    - env NOSHOW=1 scripts/explore/display-explore-one-shot.sh artifacts/explore/
    - env STRATEGIES=tile8dvr TRIALS=16 scripts/explore/run-explore-variants.sh artifacts/explore/
    - env NOSHOW=1 scripts/explore/display-explore-variants.sh artifacts/explore/
  coverage:  '/^TOTAL.* (\d+\%)$/'
  artifacts:
    paths:
      - artifacts/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: artifacts/coverage/coverage.xml

pages:
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /gitlab-pages$/
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  script:
    - pip3 install -e .[dev]
    - (cd docs/site && mkdocs build --clean --strict --site-dir ../../public)
  artifacts:
    paths:
      - public

deploy-xtc:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  script:
    - python3 -m pip install twine==6.1.0 build==1.2.2
    - python3 -m build .
    - twine upload --repository-url "$PYPI_REPOSITORY_URL" --skip-existing dist/*.whl
  artifacts:
    paths:
      - dist/
