#ifndef _XTC_OP_{{func_name}}_H
#define _XTC_OP_{{func_name}}_H

#ifdef __cplusplus
extern "C"
#else
extern
#endif
void {{func_name}}({% for idx in range(inputs|length) %}{% if idx > 0 %}, {% endif %}const float *input{{idx}}{% endfor %}{% for idx in range(outputs|length) %}, float *output{{idx}}{% endfor %});

#endif /* _XTC_OP_{{func_name}}_H */
